= link_to object_symptom.symptom_name, symptoms_path(object_symptom.symptom), options={}, {:class=>(object_symptom.key_symptom ? "keySymptom" :"")}
- unless object_symptom.commentary.empty?
  = "(#{object_symptom.commentary})"

