- title "Symptoms"
%table
  %tr
    %th
      Name
  - for symptom in @symptoms
    %tr
      %td
        != link symptom
      %td
        != edit_link symptom
      %td
        != destroy_link symptom
%p
  != new_link Symptom

