- obj = f.object.send(field)
= f.fields_for field, obj ||= Citation.new do |cf|
  %table
    %tr
      %td.fieldName Text:
      %td!=tfwac cf, :textbook_title, 'textbooks'
      %td.fieldName Ad:
      %td!=cf.text_field :where, :size => 10, :autocomplete => "off"

