$el = $('#acu_point_info_new');
$el.hide('slide');
$el.attr('id', 'acu_point_info_#{@acu_point_info.id}')
$el.html(#{raw render_js(:partial=>'acu_point_info', :locals=>{:acu_point_info=>@acu_point_info})});
$el.show('slide');

