$el = $('#acu_point_info_#{@acu_point_info.id}');
$el.hide('slide');
$el.html(#{raw render_js(:partial=>'edit_acu_point_info')});
setUpDocument($el);
$.scrollTo('#acu_point_info_#{@acu_point_info.id}');
$el.show('slide', {}, 500, function(){$el.find('input:visible:first').focus();});

