$('#acu_point_infos').append('<div id="acu_point_info_new" />');
$el = $('#acu_point_info_new');
$el.append(#{raw render_js(:partial=>'edit_acu_point_info')});
setUpDocument($el);
$el.show('slide');

