$el.hide('scale', {percent: 0});
$el.html(#{raw render_js(:partial=>'acu_point_therapeutic_function', :locals=>{:acu_point_therapeutic_function=>@acu_point_therapeutic_function})});
setUpDocument($el);
$el.show('scale', {percent: 100});

