<h2>Hi <%= @user.first_name %>,</h2>
Welcome to the Turning Seasons site.  Please click the link below to validate your email address.  
We will notify our moderator of your registration request, and your application should be processed 
within one or two days.

<%= @account_activation_url %>