.child
  %table
    %tr
      %td{'width' => '50%'}
        %b Herb 1:
        != tfwac f, :herb1_pinyin, 'herbs'
      %td{'width' => '50%'}
        %b Herb 2:
        != tfwac f, :herb2_pinyin, 'herbs'
    %tr
      %td{'colspal' => '2', 'width' => '100%'}
        %b Commentary
        %br/
        = f.text_area :commentary, :rows => "3", :cols=> 45
        %br/
        #{remove_child_link 'remove', f}
