<div class="child">
	<table>
	  <tr>
	    <td>
				Symptom: <%= f.text_field_with_auto_complete :symptom_name, {}, 
						{ :url => symptoms_path(:format => :js), :method => :get, :skip_style => true,
						:with => "'search='+element.value" } %> 			
			</td>
			<td>
				 <%= f.hidden_field :_destroy, :class => 'delete' %>
					<%= remove_child_link 'remove', f %>			
			</td>
	  </tr>
	</table>
</div>
