h1 Patterns of Disharmony

p Here is a listing of available Patterns of Disharmony.

= paginate @diagnosis_patterns

- @diagnosis_patterns.each do |diagnosis_pattern|
  .row
    .col-md-9
      = link_to diagnosis_pattern do
        h4= diagnosis_pattern.name
        = render partial: 'references/citations/citation', object: diagnosis_pattern.citation if diagnosis_pattern.citation
/ 
/ 
/ table.table.table-hover
/     tr
/       td = diagnosis_pattern.name
/       td = diagnosis_pattern.commentary
/       td = render 
/       td = diagnosis_pattern.tongue
/       td = diagnosis_pattern.pulse
/       td = diagnosis_pattern.slug
/       td = diagnosis_pattern.canonical
/       td = link_to 'Show', diagnosis_pattern
/       td = link_to 'Edit', edit_diagnosis_pattern_path(diagnosis_pattern)
/       td = link_to 'Destroy', diagnosis_pattern, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Pattern', new_diagnosis_pattern_path
