- title "Contraindication"
%p
  %strong
    Name:
  = h @contraindication.name
%p
  = link_to "Edit", edit_contraindication_path(@contraindication)
  |
  = link_to "Destroy", @contraindication, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", contraindications_path
