.child
  %table
    %tr
      %td
        %b Herb 2:
        != tfwac f, :herb2_pinyin, 'herbs'
    %tr
      %td
        %b Commentary
        %br/
        = f.text_area :commentary, :rows => "3", :cols=> 45
        %br/
        #{remove_child_link 'remove', f}
