$("#point_prescription_acu_points").append("#{escape_javascript(render(:partial => 'edit_point_prescription_acu_point', :locals => {:point_prescription_acu_point => @point_prescription_acu_point}))}");
$("#new_point_prescription_acu_point")[0].reset();