.auto_complete_parent
  = f.text_field field
  .auto_complete{'id' => "#{field_id(f, field)}_auto_complete" }
  %script{'type' => 'text/javascript'}
    \//<![CDATA[
    new Ajax.Autocompleter('#{field_id(f, field)}','#{field_id(f, field)}_auto_complete', '/tags.js',
    { tokens: new Array(','), fullSearch: true, partialSearch: true
    , callback:function(element, value) { return 'search='+value.split('=')[1]; }, method:'get'});
    \//]]>