$tag = $('#point_combination_#{@point_combination.id}');
$tag.hide('scale', {percent: 0});
$tag.html('#{escape_javascript(render(:partial=>'edit_point_combination'))}');
setUpDocument($tag);
$.scrollTo('#point_combination_#{@point_combination.id}');
$tag.show('scale', {percent: 100}, 500, function(){$tag.find('textarea').first().focus();});

