$('#point_combinations').append('<li id="point_combination_new">#{escape_javascript(render(:partial=>'edit_point_combination', :locals=>{:point_combination=>@point_combination}))}</li>');
setUpDocument($('#point_combination_new'));

