$('#point_combinations').append('<li id="point_combination_new">#{escape_javascript(render(:partial=>'edit_point_combination'))}</li>');
setUpDocument($('#point_combination_new'));
$('#point_combination_new').find('input:text:visible:first').focus();

