- tag_id = "#point_combination_new"
$('#point_combinations').append('<li id="#{tag_id}">#{escape_javascript(render(:partial=>'edit_point_combination'))}</li>');
setUpDocument($('#{tag_id}'));
$('#{tag_id}').find('textarea').first().focus();

